{% extends 'main.html' %}'
{% load static %}
{% block content %}

<style>
    .box {
        height: 126px;
        width: 126px;
        margin: 1px;
    }
</style>

<nav class="fixed-top w-100 d-flex align-items-center border-bottom bg-white" style="height: 50px;">
    <div class="container">
        <a href="/search">
            <input class="form-control" type="search" placeholder="Search">
        </a>
    </div>
</nav>

<main class="position-absolute d-flex flex-wrap justify-content-between" style="top: 55px;padding-bottom: 50px;">

    {% for post in posts %}
    <div class="box">
        <a href="/p/{{post.id}}">
            <img src="{{post.img.url}}" alt="Image" class="w-100 h-100 object-fit-cover">
        </a>
    </div>
    {% endfor %}

</main>

{% include 'footer.html' %}
{% endblock %}