{% extends 'main.html' %}
{% load static %}
{% block content %}
<nav class="fixed-top w-100 border-bottom d-flex align-items-center justify-content-between px-2" style="height: 50px;">
    <a href="/">
        <i class="fas fa-arrow-left"></i>
    </a>
    <strong>{{request.user}}</strong>
    <a href="#">
        <i class="fa-regular fa-pen-to-square"></i>
    </a>
</nav>

<main class="position-absolute w-100" style="top: 55px;font-size: 12px;">

    <div class="message d-flex align-items-center px-3" style="height: 60px;">
        <a href="#" class="d-flex">
            <img src="{% static 'img/kakashi.jpg' %}" alt="Image" class="object-fit-cover rounded-circle" height="45px"
                width="45px">
            <ul class="list-unstyled ms-2">
                <li>
                    <strong>_.subash._05</strong>
                </li>
                <li>subash❤</li>
            </ul>
        </a>
    </div>

</main>


{% endblock %}